body{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	display:flex;
	flex-direction: column;
	height:100vh;
	font-family: 'Nunito Sans', sans-serif;
	background-color: #EFF0F1;
}

header{
	 float:top;
	background-color: #00274C;
    size: auto;
	width: 100vw;
	padding:20px;
	margin:0;
	position:absolute;
	top:0;
	left:0;
}

.container{
	padding-top: 15%;
	display:flex;
	flex:1;
}

@keyframes slide{
	from{
		transform:translateX(0)
	}
	to{
		transform:translateX(-100%)
	}
}
.image-container{
	flex:2;
	position:relative;
	overflow:hidden;
	
}

.image-container{
	overflow: hidden;
}

.image-slide{
	white-space: nowrap;
	animation: 5s slide infinite linear;
}

.image-slide img{
	height: 70vh;
}

.sidebar{
	flex:1;
	line-height: 2px;
	margin-left:30px;
}



#name {
	height: 16px;
	background-color:#EFF0F1;
	margin-top: 30vh;
	margin-bottom: 10px;
}

#degree, #year, #semester{
	height:20px;
	font-family: sans-serif;
	color:#C5C4C4;
	background-color:#EFF0F1;
	margin-bottom: 10px;
}

#search-button{
	height:20px;
	flex: 0 0 200px;
	margin-left: 20px;
	margin-right: 10px;
	transform:scale(1.2);
	color: #FFCB05;
	background-color: #00274C;
}

#search-button:hover{
	color: #00274C;
	background-color: #FFCB05;

}