float:top;
	background-color: #00274C;
    size: auto;
	width: 100vw;
	padding:20px;
	margin:0;
	position:absolute;
	top:0;
	left:0;
	z-index: 1000;float:top;
	background-color: #00274C;
    size: auto;
	width: 100vw;
	padding:20px;
	margin:0;
	position:absolute;
	top:0;
	left:0;
	z-index: 1000;float:top;
	background-color: #00274C;
    size: auto;
	width: 100vw;
	padding:20px;
	margin:0;
	position:absolute;
	top:0;
	left:0;
	z-index: 1000;header {
    float:top;
	background-color: #00274C;
    size: auto;
	width: 100vw;
	padding:20px;
	margin:0;
	position:absolute;
	top:0;
	left:0;
	z-index: 1000;
}float:top;
	background-color: #00274C;
    size: auto;
	width: 100vw;
	padding:20px;
	margin:0;
	position:absolute;
	top:0;
	left:0;
	z-index: 1000;
}
/* Logo placeholder*/
#logo {
	text-align: left;
	background-color: #00274C;
	display: table-row;
}float:top;
	background-color: #00274C;
    size: auto;
	width: 100vw;
	padding:20px;
	margin:0;
	position:absolute;
	top:0;
	left:0;
	z-index: 1000;
}
/* Logo placeholder*/
#logo {
	text-align: left;
	background-color: #00274C;
	display: table-row;
}@charset "utf-8";
