@charset "utf-8";
/* Global Styles */
a:hover {
	color: rgba(255,255,255,1.00);
}

/*header*/
header {
    float:top;
	background-color: #00274C;
    size: auto;
	width: 100vw;
	padding:20px;
	margin:0;
	position:absolute;
	top:0;
	left:0;
	z-index: 1000;
}
/* Logo placeholder*/
#logo {
	text-align: left;
	background-color: #00274C;
	display: table-row;
}



#search-form{
	padding-bottom: 20px;
	margin-top:150px;
}



#name {
	height: 15px;
	flex:0 0 200px;
	margin-left: 5px;
	transform: scale(1.2);
	margin-right: 20px;
	background-color:#EFF0F1;
	
}
#degree{
	margin-right: 23px;
}

#degree, #year, #semester{
	height:20px;
	flex: 0 0 200px;
	font-family: sans-serif;
	margin-left: 20px;
	margin-right: 10px;
	text-align: center;
	color:#C5C4C4;
	background-color:#EFF0F1;
	transform:scale(1.2);
}

#degree{
	margin-right: 20px;
}

option{
	color:#000000;
}

#search-button{
	height:20px;
	flex: 0 0 200px;
	margin-left: 20px;
	margin-right: 10px;
	transform:scale(1.2);
	color: #FFCB05;
	background-color: #00274C;
	
	
}

#search-button:hover{
	color: #00274C;
	background-color: #FFCB05;

}
/* main content of the site */
#content .mainContent {
	float: left;
	width: 70%;
	text-align: center;
	padding-left: 4%;
}

/* Whole page content */
#mainWrapper {
	width: 80%;
	padding-left: 10%;
}

.graduate-list{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap:20px;
}

.graduate{
	font-family:sans-serif;
	line-height: 0.8
}

/* Media query for tablets */
@media screen and (max-width:700px) {




/* offer banners content */
#mainWrapper #offer p {
	font-size: small;
}
/* main content region of page */
#mainWrapper #content .mainContent {
	overflow: hidden;
	width: 95%;
	margin-top: 40px;
}
/* Prices of products in catalog view */
.productRow .productInfo .price {
	font-size: 19px;
}



}

/*media query for small screen devices */
@media screen and (max-width:480px) {

/* Logo placeholder*/
#mainWrapper header #logo {
	width: 100%;
	text-align: center;
}



/* Each product in catalog view */
.mainContent .productRow .productInfo {
	width: 100%;
	display: block;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
	left: -2%;
}


}
