@charset "utf-8";
/* Global Styles */
a:hover {
	color: rgba(255,255,255,1.00);
}

/*header*/
header {
    font-family: 'Montserrat', sans-serif;
    color: #00274C;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
/* Logo placeholder*/
#logo {
	float: right;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 139px;
	text-align: center;
	color: #00274C;
	background-color: rgba(190,190,190,1.00);
}

#search-form{
	
}


/* Main content of the site */
#content {
	clear: both;
	overflow: auto;
	padding-top: 29px;
}


#name {
	height: 20px;
	flex:0 0 200px;
	margin-left: 10px;
	transform: scale(1.2);
	margin-right: 10px;
}

#degree{
	height:20px;
	flex: 0 0 200px;
	margin-left: 20px;
	margin-right: 10px;
	text-align: center;
	background background-color:#C1C0C0;
	transform:scale(1.2);
}



#year{
	height:20px;
	flex: 0 0 200px;
	margin-left: 20px;
	margin-right: 10px;
	transform:scale(1.2);
}

#search-button{
	height:20px;
	flex: 0 0 200px;
	margin-left: 20px;
	margin-right: 10px;
	transform:scale(1.2);
	color: #FFCB05;
	background-color: #00274C;
	
	
}

#search-button:hover{
	color: #00274C;
	background-color: #FFCB05;

}
/* main content of the site */
#content .mainContent {
	float: left;
	width: 70%;
	text-align: center;
	padding-left: 4%;
}

/* Whole page content */
#mainWrapper {
	width: 80%;
	padding-left: 10%;
}

/* Product rows for catalog */
#content .mainContent .productRow {
	overflow: auto;
	color: rgba(146,146,146,1.00);
}
/* Each product Information in the catalog */
.mainContent .productRow .productInfo {
	float: left;
	padding-left: 5%;
	padding-right: 5%;
	width: 22%;
}
/* Prices of a products in catalog */
.productRow .productInfo .price {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 22px;
	position: relative;
	top: -20px;
}
/* Content holder for products in catalog*/
.productRow .productInfo .productContent {
	position: relative;
	top: -37px;
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	color: rgba(146,146,146,1.00);
	white-space: pre-wrap;
}




/* Product's images in catalog */
.productInfo div img {
	width: 100%;
}





/* Media query for tablets */
@media screen and (max-width:700px) {




/* offer banners content */
#mainWrapper #offer p {
	font-size: small;
}
/* main content region of page */
#mainWrapper #content .mainContent {
	overflow: hidden;
	width: 95%;
	margin-top: 40px;
}
/* Prices of products in catalog view */
.productRow .productInfo .price {
	font-size: 19px;
}



}

/*media query for small screen devices */
@media screen and (max-width:480px) {

/* Logo placeholder*/
#mainWrapper header #logo {
	width: 100%;
	text-align: center;
}



/* Each product in catalog view */
.mainContent .productRow .productInfo {
	width: 100%;
	display: block;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
	left: -2%;
}


}
